<!DOCTYPE html>
<html ng-app="ShoppingListApp">
  <meta charset="utf-8">
  <script src="filter.js"></script>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <style> body { font-size: 1.2em; }</style>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>ng-repeat</title>
  <body>
    <h1>ng-repeat</h1>
    <div ng-controller="ShoppingListController">

      <!-- Searchable Shopping List: -->
      <h3>Shopping List:</h3>
      <input type="text" ng-model="search">
      <ul>
        <li ng-repeat="item in shoppingList | filter : search">{{ item }}</li>
      </ul>
    </div>
  </body>
</html>
